<div class="texto">

    <h1 class="text-center titulo fw-bolder fst-italic">A bandeira modernizada</h1>

    <div class="texto-extenso">

        <p class="text-break">
            A bandeira do Orgulho está passando por outra transformação – desta vez para incluir pessoas intersexo.
            A bandeira LGBTQIAP+ POC (people of color) pessoas pretas e não brancas foi proposta em 2018, por Daniel
            Quasar, e foi amplamente usada por grandes instituições e marcas, que se posicionam como apoiadoras da
            causa.
            Agora em 2021 uma nova atualizou com inserção da bandeira intersexo aconteceu. O Círculo Intersex foi
            proposto
            pelo colunista intersexo e personalidade da mídia Valentino Vecchietti. A bandeira foi oficialmente revelada
            pelo
            grupo de defesa Intersex Equality Rights no Reino Unido no final de maio de 2021, mas desde então se
            espalhou de
            forma viral nas redes sociais.


        </p>

    </div>

    <img class="img-fluid imagem-texto" src="/public/img/flag_Curiosidade.jpg" height="35%" width="35%">

    <h1 class="text-center titulo fw-bolder fst-italic">Cuzco com bandeira semelhante:</h1>

    <div class="texto-extenso">

        <p class="text-break">
            Quem chega à histórica cidade de Cuzco se depara com uma linda bandeira colorida hasteada em várias casas e
            órgãos públicos
            da cidade que, à primeira vista, pode ser confundida com a do movimento LBGT.Mas ao invés das seis faixas de
            cores do movimento,
            a bandeira de Cuzco, um dos símbolos do Império Inca, possui sete faixas coloridas.Durante o Império Inca, a
            bandeira foi criada em
            homenagem ao deus ‘Arco-íris’, passando a representar o exército da antiga civilização. A bandeira, no
            entanto, passou
            a ser usada na cidade apenas em 1978.
        </p>

    </div>

    <img class="img-fluid imagem-texto" src="/public/img/cusco_Curiosidade.png" height="35%" width="35%">


</div>