<div class="texto">

    <img class="img-fluid imagem-texto" src="/public/img/bandeira.jpg" height="30%" width="35%">

    <h1 class="text-center titulo fw-bolder fst-italic">Como surgiu a sua concepção</h1>

    <div class="texto-extenso">

        <p class="text-break">
            Em 25 de junho de 1978, há 43, era apresentada ao público a bandeira
            LGBTQIAP+ durante Parada do Orgulho Gay nos Estados Unidos. O
            responsável por criá-la foi o artista Gilbert Baker. Ele era militar, mas após
            dispensado com honras do exército, foi morar em São Francisco, na
            Califórnia, onde passou a se envolver mais com o movimento, que, no início
            dos anos 70, estava começando a ser mais discutido. Por lá, ele aprendeu
            sozinho a costurar e criou o design dessa bandeira toda colorida, com as
            cores do arco-íris!
        </p>

    </div>

    <img class="img-fluid imagem-texto" src="/public/img/baker_Historia.jpg" height="35%" width="35%">

    <h1 class="text-center titulo fw-bolder fst-italic">A criacão da bandeira como simbolo LGBTQIAP+:</h1>

    <div class="texto-extenso">

        <p class="text-break">
            Sabendo de seus talentos e do seu envolvimento com a causa, o supervisor
            da cidade de São Francisco na época, Harvey Milk, pediu para que Baker
            criasse um ícone para a comunidade LGBTQIA+, que até então não tinha
            uma simbologia oficial (vale lembrar que Milk foi o primeiro político
            assumidamente gay nos Estados Unidos a lutar pelos direitos do grupo). O
            artista, então, começou os trabalhos e se inspirou nos hippies, que
            enxergam o arco-íris como um símbolo da paz, e na canção Over The Rainbow, que
            diz que “além do arco-íris existe um lugar muito bom”, como conta a Revista Cult.
        </p>

    </div>

    <img class="img-fluid imagem-texto" src="/public/img/harvey_Historia.jpg" height="35%" width="35%">

    <h1 class="text-center titulo fw-bolder fst-italic">Siginifacodos das cores do Over The Rainbow:</h1>

    <div class="texto-extenso">

        <p class="text-break">
            A bandeira que todos conhecemos lembra o fenômeno
            natural, mas, na verdade, as cores são um pouquinho diferentes. No total,
            são 6 faixas e cada uma delas tem um significado especial
        </p>

    </div>

    <img class="img-fluid imagem-texto" src="/public/img/bandeira-cores.png" height="35%" width="35%">

</div>