<div class="texto">

    <img class="img-fluid imagem-texto" src="/public/img/bandeira.jpg" height="30%" width="35%">

    <h1 class="text-center titulo fw-bolder fst-italic">Como surgiu a sua concepção</h1>

    <div class="texto-extenso">

        <p class="text-break">
            Em 25 de junho de 1978, há 43, era apresentada ao público a bandeira
            LGBTQIA+ durante Parada do Orgulho Gay nos Estados Unidos. O
            responsável por criá-la foi o artista Gilbert Baker. Ele era militar, mas após
            dispensado com honras do exército, foi morar em São Francisco, na
            Califórnia, onde passou a se envolver mais com o movimento, que, no início
            dos anos 70, estava começando a ser mais discutido. Por lá, ele aprendeu
            sozinho a costurar e criou o design dessa bandeira toda colorida, com as
            cores do arco-íris!
        </p>

    </div>
</div>