<div class="texto">

    <img class="img-fluid imagem-texto" src="/public/img/ifms.png">

    <h1 class="text-center titulo fw-bolder fst-italic">O que é projeto bandeira?</h1>

    <div class="texto-extenso">

        <p class="text-break">

            É um projeto em grupo realizado durante o quarto semeste do curso tecnico de informática do Instituto
            Federal de Mato Grosso do Sul.
            E nesse caso esse grupo escolheu realizar como tema com relação ao movimento LGBTQIAP+ as bandendeiras e o
            que elas represetam além de suas curiosidades.

        </p>


    </div>

    <h1 id="titulo-dev" class="text-center fw-bolder fst-italic">Desenvolvedor</h1>

    <div id="dev">

        <img id="imagem-dev" src="/public/img/dev.png">

        <div id="status-dev">

            <span>Nome: Wilker Sebastian Afosno Pereira <br></span>

            <span id="idade"></span>

            <span>Instituição: Instituto Federal de Mato Grosso do Sul<br></span>

            <span>Curso: Técnico integrado em informática<br></span>

            <span>Semestre: 5º<br></span>

        </div>

    </div>

    <h1 class="text-center titulo fw-bolder fst-italic">Site Antigo</h1>

    <div class="texto-extenso">

        <p>

            O site antigo ainda estar no ar se quiser ver como ele era

        </p>

        <a href="https://wilkersebastiandev.github.io/ProjetoBandeiraDW1/Historia/Historia.html">site antigo</a>

    </div>

</div>


<script src="/public/js/home.js"></script>